# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
fruit_dataset/
fruits-fresh-and-rotten/
*.zip

# Trained models
*.keras
*.h5
*.hdf5
saved_model/

# TensorFlow files
checkpoint/
logs/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
